@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}



:root {
  --loader-size: 70px;
  --planet-size: 10px;
  --moon-loader-size: 34px;
  --moon-size: 5px;
  --sun-size: 21px;
  --color: #fefefe;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
  margin-top: calc(-1 * var(--loader-size) / 2);
  margin-left: calc(-1 * var(--loader-size) / 2);
}

.moon-loader {
  width: var(--moon-loader-size);
  height: var(--moon-loader-size);
  margin-top: calc(-1 * var(--moon-loader-size) / 2);
  margin-left: calc(-1 * var(--moon-loader-size) / 2);
}

.loader-circle {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.21);
  animation: rotate 4s linear infinite;
}

.loader-circle > div {
  position: absolute;
  width: var(--planet-size);
  height: var(--planet-size);
  margin-left: calc(var(--planet-size) / 2);
  border-radius: 50%;
  background-color: var(--color);
}

.loader-circle > div.loader-moon-size {
  width: var(--moon-size);
  height: var(--moon-size);
  margin-left: calc(var(--moon-size) / 2);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loader-sun {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--sun-size);
  height: var(--sun-size);
  background-color: var(--color);
  border-radius: 50%;
  margin-left: calc(-1 * var(--sun-size) / 2 + 1px);
  margin-top: calc(-1 * var(--sun-size) / 2 + 1px);
}










.timelineContainer {
  @apply pl-[50px] pr-[50px] max-sm:pr-[25px] relative w-auto sm:w-[50%] pt-10 max-sm:w-[calc(100vw-40px)] ;
}




/* .timelineLabel.active {
  @apply !scale-100 !opacity-100;
} */

.text-box {
  @apply !cursor-pointer bg-black/80 backdrop-blur-sm p-2 px-2 sm:p-4 sm:px-6 ;
}

/* .timelineContainer .text-box.active {
  @apply !opacity-100 translate-x-0;
} */

.timelineLabel {
  @apply rounded-full border border-neutral-700 bg-neutral-700 border-2 py-1 px-1 flex justify-center items-center absolute !w-[30px] h-[30px] bottom-0 z-10 scale-[120%] opacity-0;
}

.timelineLabel.further {
  @apply  border-none w-[30px] h-[30px] scale-[120%] p-0;
}


input, textarea {
  @apply border border-black/10 px-2 focus:outline-slate-400 shadow-inner placeholder-black/30 bg-neutral-200/40;
}

textarea {
  @apply resize-none pt-2 focus:outline-slate-400;
}

.projectCard {
  @apply  max-md:!aspect-[16/10] !aspect-[3/2] w-full md:w-[49%] xl:w-[32%] bg-slate-900/80 rounded grid grid-rows-3 mb-4 lg:mb-[2%] border-2 border-zinc-600 shadow-lg opacity-80 scale-[0.1%] bg-cover bg-center;
}

.projectCardContent {
  @apply w-full absolute h-full bg-slate-900/60 row-span-full transition-all ease-in-out duration-300 grid grid-rows-3 backdrop-blur-md;
}

.projectCardText {
  @apply  max-xl:text-xs text-white transition-all ease-in-out duration-500 text-sm text-center;
}

.projectCardBtn {
  @apply bg-zinc-100 rounded cursor-pointer px-3 py-1 hover:bg-white;
}

.navLink.active {
  @apply !text-white scale-[110%];
}




.galaxy-background {
  background-color: transparent;
  position: absolute;
}

#milkyway {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* Etoiles Filantes */

/* .shooting-star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  border-radius: 50%;
  animation: shoot 2s linear infinite;
}


@keyframes shoot {
  0% {
    opacity: 1;
    transform: translateY(-100vh) translateX(0) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(100vh) translateX(1000px) scale(2);
  }
  100% {
    opacity: 0;
    transform: translateY(200vh) translateX(2000px) scale(3);
  }
}

@keyframes randomStar {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.shooting-star .trail {
  position: absolute;
  width: 2px;
  height: 50px; 
  background-color: rgba(255, 255, 255, 0.6); 
  opacity: 0;
  transform-origin: top left;
  border-radius: 50%;
  animation: shoot-trail 2s linear infinite;
}

@keyframes shoot-trail {
  0% {
    opacity: 0.8;
    transform: scaleY(1) rotate(148deg);
  }
  100% {
    opacity: 0;
    transform: scaleY(0.2) rotate(160deg); 
  }
} */


.shooting-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.shooting-star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  animation: moveShootingStar 1s linear forwards;
}

.shooting-star .trail {
  position: absolute;
  width: 2.5px;
  height: 50px; 
  background-color: rgba(255, 255, 255, 0.6); 
  opacity: 0;
  margin-left: 1.9px;
  rotate: 125deg;
  transform-origin: top left;
  border-radius: 0% 0% 50% 50%;
  animation: shoot-trail 1s linear forwards;
}

@keyframes moveShootingStar {
  0% {
    transform: translate(0, 0); /* L'étoile commence à la position (0,0) */
  }
  100% {
    /* Déplacement horizontal et vertical pour créer une trajectoire en diagonale */
    transform: translate(var(--end-x), var(--end-y)); /* Utilisation des variables CSS */
  }
}


@keyframes shoot-trail {
  0% {
    opacity: 0.4;
    transform: scaleY(0.1)
  }
  10% {
    opacity: 1;
    background-color: #fffce8;
    transform: scaleY(1);
  }
  50% {
    opacity: 0.2;
    background-color: #fffadf;
    transform: scaleY(0.4);
  }
  100% {
    opacity: 0;
    transform: scaleY(0.2)
  }
}



/* Lignes de code Design */

.line-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Pour ne pas interférer avec les interactions utilisateur */
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}

@keyframes moveLine {
  0% {
    transform: translateX(var(--start-position)); /* Position de départ dynamique */
  }
  100% {
    transform: translateX(var(--end-position)); /* Position de fin dynamique */
  }
}

.line {
  position: absolute;
  height: 3px; /* La hauteur de la ligne peut être ajustée */
  background-color: #ff007f;
  animation: moveLine var(--animation-duration) linear forwards;
}



.particle-container {
  position: relative;
  width: 100vw; /* Ajustable selon besoin */
  overflow: hidden;
  background: rgba(255, 255, 255, 0); /* Léger fond pour voir la zone */
}

/* Style des particules */
.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: rgba(255, 241, 149, 1); /* Jaune légèrement transparent */
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(255, 246, 187, 0.8);
}

@keyframes moveParticle {
  0% {
      transform: translateX(var(--startX)) translateY(var(--startY));
  }
  25% {
      transform: translateX(calc(var(--endX) * 0.25)) translateY(calc(var(--startY) + var(--floatY) * 0.5));
  }
  50% {
      transform: translateX(calc(var(--endX) * 0.5)) translateY(calc(var(--startY) - var(--floatY) * 0.5));
  }
  75% {
      transform: translateX(calc(var(--endX) * 0.75)) translateY(calc(var(--startY) + var(--floatY) * 0.5));
  }
  100% {
      transform: translateX(var(--endX)) translateY(var(--startY));
  }
}

.grecaptcha-badge {
  visibility: hidden;
}